body {
    background: rgb(198, 193, 193);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
   
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}